
@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;
  

@layer components{
  .custom-color{
    background-color: #1E8449;
    color: #ddd;
  }

  .custom-color:hover{
    background-color: #27AE60;
  }

  .bg-site-color{
    background-color: #1E8449;
    color: #ddd;
  }

 .bg-site-color:hover{
    background-color: #27AE60;
  }

  .text-site-color{
    color: #27AE60;
  }
  .text-site-color:hover{
    color: #52BE80;
  }
}

.dark{
  background-color: black;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.top-notice-scroll{
  animation: scroll 20s linear infinite;
  scrollbar-width:none;
}

.top-notice-scroll:hover{
  animation: none;
  scrollbar-width:thin;
}

@keyframes scroll {
  to{
    transform: translateX(-90%);
  }
}